fastapi
uvicorn[standard]
pymupdf==1.25.5
sentence-transformers==4.0.2
transformers==4.48.0
huggingface-hub==0.26.5
faiss-cpu
pydantic
numpy==2.0.2
python-multipart
aiofiles
nltk>=3.9.1
rank_bm25>=0.2.2